


.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif; 
     
  }
  
  .navbar-brand .logo {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo i {
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
  }
  

  .navbar-actions .btn-contas, .btn-metas {
    background-color: #0000002d;
    margin-right: 14px;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

