@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



.saldo-container {
    background-image: url("/assets/images/hacker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


.saldo-title {
    color: white;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.my-accounts {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

app-saldo-card {
    max-width: 350px; 
}




.form-container {
    margin-top: 30px;
    background: rgba(97, 227, 231, 0.1);
    padding: 25px;
    gap: 15px;
    color: rgb(236, 236, 236);
    border: 5px solid black;
    border-radius: 12px;
    animation: fadeIn 0.5s ease-in-out forwards;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.form-container h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}


input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    background: #1e1e1e;
    color: white;
    transition: border 0.3s;
}

input:focus, select:focus {
    border: 2px solid #c43e26;
    outline: none;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}


.add-button-receita {
    padding: 14px 26px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #039108;
    color: white;

}




.add-button-despesa {
    padding: 14px 26px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background:transparent;
    border: 3px solid #a10303;
    color: white;

}





.submit-button {
    margin-top: 20px;
    padding: 14px;
    background: transparent;
    color: rgb(255, 255, 255);
    border: 3px solid green;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}
.submit-button:hover {
    
    color: rgb(21, 214, 15);
    
}


input[type="checkbox"] {
    
    width: auto;
    margin-left: 10px;
}



@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1024px) {
    .account-card {
        width: calc(50% - 20px);
    }
}


@media (max-width: 767px) {
    .account-card {
        width: calc(100% - 20px); 
    }
}