<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a  class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            {{conta.nome_conta}}
          </div>
  
          <div class="ag-courses-item_date-box">
            Saldo disponível:
            <span class="ag-courses-item_date">
              {{conta.saldo }}
            </span>
          </div>
        </a>
      </div>
  
    </div>
  </div>
  