<div class="main">
    <div class="header">
        <h1 class="header__title">Agenda Financeira</h1>
        <p class="header__subtitle">Nessa aplicação você irá conseguir <span></span></p>
    </div>

    <div class="cotacao-container">
        <app-cotacao-card titulo="Cotação do Dólar" [valor]="dolarDecimal" icon="💵"></app-cotacao-card>
        <app-cotacao-card titulo="Cotação do Euro" [valor]="euroDecimal" icon="💶"></app-cotacao-card>
    </div>

    <div class="cards-container">
        <div class="card card1">
            <div class="card__data">
                <span class="card__description">Consulte seu saldo</span>
                <h2 class="card__title">Últimas transações</h2>
                <a routerLink="/saldo" class="card__button">Acessar</a>
            </div>
        </div>

        <div class="card card2">
            <div class="card__data">
                <span class="card__description">Adicione novas transações</span>
                <h2 class="card__title">Registre movimentações</h2>
                <a class="card__button">Acessar</a>
            </div>
        </div>

        <div class="card card3">
            <div class="card__data">
                <span class="card__description">Gerencie suas metas</span>
                <h2 class="card__title">Objetivos financeiros</h2>
                <a routerLink="/metas_financeiras" class="card__button">Acessar</a>
            </div>
        </div>
    </div>

    <div class="transactions">
        <h2 class="transactions__title">Últimas transações</h2>
        
        <div class="transactions__table">
            <div class="transactions__header">
                <span>Data</span>
                <span>Descrição</span>
                <span>Valor</span>
            </div>

            <div class="transactions__body" *ngFor="let despesa of despesas">
                <div class="transactions__row">
                    <span>{{despesa.data_despesa | date}}</span>
                    <span>{{despesa.categoria.nome_categoria}}</span>
                    <span class="negative">-{{despesa.valor | currency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<app-dashboard></app-dashboard>
<app-metas-financeiras></app-metas-financeiras>
<app-minhas-contas></app-minhas-contas>
